<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/application.html}">

<section layout:fragment="content">
    <div class="container-lg mt-5">
        <h1>Сайты</h1>

        <table class="table table-bordered table-hover mt-3">
            <thead>
            <tr>
                <th class="col-1">ID</th>
                <th>Имя</th>
                <th class="col-2">Последняя проверка</th>
                <th class="col-1">Код ответа</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="url : ${urls}" th:object="${url}">
                <td th:text="*{id}"></td>
                <td>
                    <a th:text="*{name}" th:href="@{/urls/{id}(id=*{id})}"></a>
                </td>
                <td th:text="${urlChecks.get(url.id)} ? ${#temporals.format(urlChecks.get(url.id).createdAt, 'dd/MM/yyyy HH:mm')} : ''">
                    27/06/2023 02:43
                </td>
                <td th:text="${urlChecks.get(url.id)} ? ${urlChecks.get(url.id).statusCode} : ''"></td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
